* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
}
body {
    background-color: #F4F3DA;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Inter,sans-serif; /* New font */
    color: #333; /* Dark grey text for better readability */
}

h1 {
      color: #333;
      margin-bottom: 2rem;
      font-size: 2rem;
}

form {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 385px;

    border: 1px solid #e0e0e0; /* Light border */
}

img {
    max-width: 100%; /* ensures images are responsive and don't overflow their container */
    height: auto;
}

.logo {
    max-width: 50%; /* ensures images are responsive and don't overflow their container */
    height: auto;
}

#analysisResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#analysisResults > * {
    margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 1rem;
  color: #555;
  font-weight: bold;
}

span {
  display: block;
  margin-bottom: 1rem;
  color: #555;
}

input[type="file"] {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #AAA;
  border-radius: 4px;
}

input[type="submit"] {
  color: #FFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: #008cba; /* More modern button color */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

input[type="submit"]:hover {
  background-color: #005f6b; /* Darker shade on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

iframe {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  form {
/*    width: 90%; /* Full width on smaller screens */*/
    margin: 0 auto; /* Center form */
  }
  input{
    line-height: 2.15;
  }
  input[type="file"] {
    margin-bottom: 1.5rem;
    padding: 0rem;
    border: 1px solid #AAA;
    border-radius: 4px;
  }
  .logo {
    max-width: 100%; /* ensures images are responsive and don't overflow their container */
    height: auto;
  }
}

footer {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

footer p {
    color: #aaa;
}
.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  transform: translate(-50%, -50%);
  padding: 1em;
}
.content .title {
  font: 5em Lobster, cursive;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
  color: #fafafa;
  margin: -0.5em 0 0.5em 0;
}
.content canvas {
  background: #000000;
  box-shadow: 0 2px 16px rgba(0,0,0,0.25);
}
canvas#canvas {
  background-color: black;
  display: none; /* Only show it when the game starts */
  position: fixed; /* Fixed position makes it stay in place even when scrolling */
  top: 50%; /* Start at 50% from the top */
  left: 50%; /* Start at 50% from the left */
  transform: translate(-50%, -50%); /* This will truly center the canvas */
  z-index: 9999; /* This should be higher than any other z-index on your page */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: 90%; /* Could be more or less, depending on screen size */
  max-width: 400px; /* Maximum width */
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  padding: 2px 16px;
}

.option-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.option-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.option-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option-container input:checked ~ .checkmark:after {
  display: block;
}

.option-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.ok-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
}

.ok-button:hover {
  background-color: #45a049;
}

.full-screen-iframe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1000;
}

#gameSelect {
  width: calc(100% - 4rem); /* Adjust based on the actual padding of the parent container */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}


@media (max-width: 768px) {
  form {
    width: 90%; /* Full width on smaller screens */
    margin: 0 auto; /* Center form */
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  #gameSelect {
    width: calc(100% - 2rem); /* Adjust width for smaller screens */
  }
}

.button-style {
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* Gradient background */
  border: none;
  border-radius: 25px; /* Rounded corners */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow for depth */
  transition: all 0.3s; /* Smooth transition for hover effects */
}

.button-style:hover {
  background: linear-gradient(to right, #2193b0, #6dd5ed); /* Inverted gradient on hover */
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3); /* Slightly larger shadow on hover */
}

#uploadForm {
    position: relative;
    z-index: 10;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  height: 33px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.space-invader {
  position: fixed; /* Changed to fixed for screen-wide movement */
    top: 0%; /* Initial position */
    left: 0%; /* Initial position */
    transition: top 0.5s, left 0.5s; 
  /* Modify size here: */
  --block-size: 0.5px;

  box-shadow: 0 0 0 var(--block-size) #333,
  0 var(--block-size) 0 var(--block-size) #333,
  calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
  calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
  calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #333,
  calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #333,
  calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #333,
  calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #333,
  calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #333,
  calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #333,
  calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #333,
  calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #333,
  calc(var(--block-size) * -4) 0 0 0 #333,
  calc(var(--block-size) * -3) 0 0 0 #333,
  calc(var(--block-size) * 3) 0 0 0 #333,
  calc(var(--block-size) * 4) 0 0 0 #333,
  calc(var(--block-size) * -5) var(--block-size) 0 0 #333,
  calc(var(--block-size) * -4) var(--block-size) 0 0 #333,
  calc(var(--block-size) * 4) var(--block-size) 0 0 #333,
  calc(var(--block-size) * 5) var(--block-size) 0 0 #333,
  calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #333,
  calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #333,
  calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #333,
  calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #333,
  calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #333,
  calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #333,
  calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #333,
  calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #333,
  var(--block-size) calc(var(--block-size) * 4) 0 0 #333,
  calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #333;
  background: #333;
  width: var(--block-size);
  height: var(--block-size);
  overflow: hidden;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #f4f3da;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #f8edeb;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}